<template>
  <div class="input-skills-presentation">
    <h3>Выберите элемент массива для редактирвания</h3>
    <a-select
      v-model:value="selectedField"
      style="width: 400px"
    >
      <a-select-option
        v-for="item in data"
        :key="item.id"
      >
        {{ item.label }}
      </a-select-option>
    </a-select>
    <div v-if="selectedField">
      <h3>Измените значение поля</h3>
      <a-input
        v-if="selectedField"
        v-model:value="data.find((elem) => elem.id === selectedField).value"
      />
    </div>
    <h3>Это для демострации</h3>

    <a-table
      :data-source="data"
      :columns="columns"
    />
  </div>
</template>

<script>
export default {
  setup() {
    const data = ref([]);
    const selectedField = ref();
    const fabrique = () => {
      for (let i = 0; i < 20; i++) {
        const obj = {
          label: `имя ${i + 1}`,
          value: `значение ${i + 1}`,
          id: i + 1,
        };
        data.value.push(obj);
      }
    };
    fabrique();

    const columns = [
      {
        title: "Label",
        dataIndex: "label",
      },
      {
        title: "Value",
        dataIndex: "value",
        className: "table-value",
      },
      {
        title: "ID",
        dataIndex: "id",
      },
    ];

    return {
      selectedField,
      data,
      columns,
    };
  },
};
</script>

<style>
h3 {
  color: white;
}

.input-skills-presentation {
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  padding: 100px 50px;
  background: linear-gradient(180deg, #dd03e4, #5611ec);
}

.table-value {
  overflow: hidden;
  max-width: 500px;
  text-overflow: ellipsis;
  overflow-wrap: initial !important;
}
</style>
